.tabs {
  padding-right: 30px;
  padding-left: 30px;
  display: flex;
  border-bottom: 1px solid black;

  .tab {
    margin-right: 10px;
    padding: 5px;
    border: 1px solid black;
    border-bottom: 0;
    cursor: pointer;

    &.active {
      background-color: black;
      color: white;
    }
  }
}

.tab-content {
  display: none;

  &.active {
    display: block;
  }
}

.input {
  display: flex;
  flex-direction: row;

  .sourceText, .expectedText {
    flex: 1;
    padding: 30px;

    textarea {
      width: 100%;
      height: 450px;
    }
  }
}

.commands {
  display: flex;
  justify-content: flex-end;
  padding: 30px;
  padding-top: 0;
}

.output {
  display: flex;
  flex-direction: row;

  .diff, .generatedText {
    flex: 1;
    padding: 30px;
  }
}

.rules {
  display: flex;
  flex-direction: row;
  padding: 30px;

  textarea {
    width: 450px;
    height: calc(100vh - 80px);
  }

  .sign {
    margin-left: 60px;
  }
}
