<div class="tabs">
  <div class="tab" [class.active]="activeTab === 'control'" (click)="switchTab('control')">Controlla</div>
  <div class="tab" [class.active]="activeTab === 'rules'" (click)="switchTab('rules')">Reglas</div>
</div>

<div class="tab-content" [class.active]="activeTab === 'control'">
  <div class="input">
    <div class="sourceText">
      original:
      <textarea [(ngModel)]="sourceText"></textarea>
    </div>

    <div class="expectedText">
      cun seperaziuns ({{countSeparationSigns(expectedText)}} separaziuns):
      <textarea [(ngModel)]="expectedText"></textarea>
    </div>
  </div>
  <div class="commands">
    <button (click)="compare()">Seperar!</button>
  </div>

  <div class="output">
    <div class="diff">
      diff ({{countSeparationSigns(diff)}} separaziuns):<br>
      <span [innerHTML]="diff"></span>
    </div>

    <div class="generatedText">
      seperaziun automatica ({{countSeparationSigns(generatedText)}} separaziuns):<br>
      <span *ngIf="highlightSign" [innerHTML]="generatedText | highlight:separationSign"></span>
      <span *ngIf="!highlightSign" [innerHTML]="generatedText"></span>
    </div>
  </div>
</div>

<div class="tab-content" [class.active]="activeTab === 'rules'">
  <div class="rules">
    <textarea [(ngModel)]="rulePatterns"></textarea>

    <div class="sign">
      Segn da seperaziun:<br>
      <input type="text" [(ngModel)]="separationSign"><br><br>

      <input type="checkbox" [(ngModel)]="highlightSign">Relevar segn
    </div>
  </div>
</div>
