/* Global styles - Tailwind is imported via tailwind.css */

/* Diff highlighting colors */
.green {
  color: #059669;
  background-color: #80ffbf;
  font-weight: 500;
}

.red {
  color: #dc2626;
  background-color: #ff7d7d;
  font-weight: 500;
}

.grey {
  color: #6b7280;
}
